{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
   <h3 class="text-black my-5">About Page</h3> 
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur similique aliquid dolorum explicabo, minus reiciendis. Officia, ratione ipsa non dolor hic modi delectus nam tempore corrupti. Maxime reiciendis quia vitae.</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aut rem libero repellendus perspiciatis itaque, dolore quibusdam quod commodi. Debitis, aut culpa.</p>
</div>
{% endblock content %}